body{
background: linear-gradient(90deg, rgba(36,191,179,0.5999649859943977) 99%, rgba(171,169,27,1) 100%, rgba(174,120,57,0.4150910364145658) 100%, rgba(151,130,132,0.7232142857142857) 100%, rgba(22,0,36,1) 100%, rgba(9,13,123,1) 100%, rgba(34,112,94,0.8856792717086834) 100%);

}
.navbar{
    height: 10vh;
}
.navbar img{
    width: 10vw;
    height: 10vh;
}